header,footer {
    text-align:center;
    background-color:grey;
    color:white;
    padding:20px;
    border-radius:25px;
}

p {
    font-size:1.6em; 
    background-color:green;
    margin:0px;
}
aside,article {
    padding:10pt;
    margin-bottom:0px;
}

